body {
      font-family: Arial, sans-serif;
      margin: 0;
}

body::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100lvh;
      background: url("kuvat/taustakuva.jpg") center / cover no-repeat;
      z-index: -1;
}

.otsikko-div {
      background-color: rgba(255, 255, 255);
      padding: 2rem;
      border-radius: 10px;
      text-align: center;
      width: 90%;
}

.sisalto-div {
      background-color: rgba(255, 255, 255);
      padding: 3rem 2rem;
      border-radius: 10px;
      width: 90%;
}

a img {
      border: 1px solid black;
      transition: box-shadow 0.3s, transform 0.3s;
}

a img:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      transform: translateY(-4px);
}

iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      max-width: 900px;
      display: block;
      margin: 1.5rem auto;
}

@media (max-width: 600px) {
      .sisalto-div {
            padding: 3rem 1rem;
      }
}

@media (max-width: 400px) {
      
}