body {
    font-family: 'Arial', sans-serif;
      background-image: url("kuvat/taustakuva.jpg");
      background-size: cover;       /* skaalautuu koko ruudulle */
      background-position: center;  /* keskeinen osa näkyviin */
      background-repeat: no-repeat;
      min-height: 100vh;            /* vähintään koko ikkunan korkeus */
}

.otsikko-div {
      background-color: rgba(255, 255, 255); /* hieman läpinäkyvä valkoinen tausta */
      padding: 2rem;
      border-radius: 10px;
      text-align: center;
      width: 90%;
}

.sisalto-div {
      background-color: rgba(255, 255, 255); /* hieman läpinäkyvä valkoinen tausta */
      padding: 2rem;
      border-radius: 10px;
      width: 90%;
}