body {
      font-family: Arial, sans-serif;
      margin: 0;
}

body::before {
      content: "";
      position: fixed;
      inset: 0;
      background: url("kuvat/taustakuva.jpg") center / cover no-repeat;
      z-index: -1;
}

.otsikko-div {
      background-color: rgba(255, 255, 255);
      padding: 2rem;
      border-radius: 10px;
      text-align: center;
      width: 90%;
}

.sisalto-div {
      background-color: rgba(255, 255, 255);
      padding: 2rem;
      border-radius: 10px;
      width: 90%;
}