body {
    font-family: 'Arial', sans-serif;
      background-image: url("kuvat/taustakuva.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      min-height: 100vh;
}

.otsikko-div {
      background-color: rgba(255, 255, 255);
      padding: 2rem;
      border-radius: 10px;
      text-align: center;
      width: 90%;
}

.sisalto-div {
      background-color: rgba(255, 255, 255);
      padding: 2rem;
      border-radius: 10px;
      width: 90%;
}